<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.proyek.parkirassistant">

    <!-- Untuk akses database external -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Untuk mengakses kamera -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!--  android:usesCleartextTraffic diset true jika hpnya menggunakan API 23 sampai android 10  -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".BroadcastCountdownService"/>
        <activity android:name=".ProfileActivity" />
        <activity android:name=".HomeScreen" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".EWalletActivity" />
        <activity android:name=".BookingActivity" />
        <activity android:name=".ScanActivity"/>
        <activity android:name=".EditProfile" />
    </application>

</manifest>